body{
    font-family: "Poppins", sans-serif;
}

.image1,.image2,.image3,.image4{
    display: inline-block;
    width: 350px;
    padding: 10px;
    }
      
.img1,.img2,.img3,.img4{  
    height: 300px;
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
}
.img1:hover{
    transform: scale(1.02);
}
.img2:hover{
    transform: scale(1.02);
}
.img3:hover{
    transform: scale(1.02);
}
.img4:hover{
    transform: scale(1.02);
}

.faboutimg{
    height: 20px;
    width: 900px;
}

.whatimg{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
    height: 500px;
    width: 900px;
    margin-left: 50px;
    
}
.whatimg img{
    border-radius: 20px;
}

.container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
#orderbutton{
    margin-top: 15px;
    border: 1px black solid;
    color: black;
    padding: 5px;
    width: 80px;
    padding-bottom: 2px;
    border-radius: 5px;

}

#orderbutton:hover{
    background-color:rgb(5, 128, 5);
    color: aliceblue;
    transition: 2s;
}
.Aboutbox{
    width: 100%;
    height: 620px;
    display: flex;
    margin-top: 50px;
    
}

.Aboutbox img{
    margin-top: 20px;
    width: 800px;
    height: 420px;
    margin-left: 0px;
}
.Aboutwords{
    margin-left: 30px;
    margin-top: 100px;
}
.Aboutbox h1{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 25px;
    font:bolder;
    color: rgb(3, 118, 3);
}
.Aboutbox p{
    font-size: 20px;
}
.Aboutpageimg{
    height: 20px;
    width: 550px;
}

@media screen and (max-width: 820px) {
    .Aboutbox img ,.faboutimg ,.whatimg{
      display: none;
    }
    .Aboutwords p{
        font-size: 15px;
    }
  }
.readmore{
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    
}
.readmore:hover{
    background-color: rgb(54, 53, 53);
    cursor: pointer;
    color:white;
}

.footer{
    margin-top: 50px;
    background-color:  #FFF7E1;
    height: 200px;
    padding: 50px;
}
